In [2]:
%load_ext sql

In [13]:
%sql postgresql://postgres:Kappa@localhost:5432/postgres

In [17]:
%%sql

set datestyle to "ISO";
set datestyle to "DMY";

DROP TABLE IF EXISTS RESERVATIONS; 
DROP TABLE IF EXISTS PASSAGERS; 
 
 
CREATE TABLE PASSAGERS   
(	

 
  
passengerId integer primary key,   
survival boolean, 
name varchar(100),  
sex varchar(8), 
age float, 
sibsp int, 
parch int	

 
  
); 
 
CREATE TABLE RESERVATIONS   
(	

 
passengerId integer, 
pclass int,  
ticket varchar (100),  
fare float,  
cabin varchar (15),  
embarked varchar (1), 
Foreign key (passengerId) 
references PASSAGERS(passengerId) 
);

   postgresql://postgres:***@localhost/postgres
 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [18]:
%%sql
COPY PASSAGERS FROM 'C:\Users\User\Downloads\Sae_bdd\titanic_train\PASSAGERS.csv' DELIMITER ',' csv ;
COPY RESERVATIONS FROM 'C:\Users\User\Downloads\Sae_bdd\titanic_train\RESERVATIONS.csv' DELIMITER ',' csv ;

   postgresql://postgres:***@localhost/postgres
 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.InsufficientPrivilege) ERREUR:  n'a pas pu ouvrir le fichier « C:\Users\User\Downloads\Sae_bdd\titanic_train\PASSAGERS.csv » pour une lecture : Permission denied
HINT:  COPY TO indique au serveur PostgreSQL de lire un fichier. Vous pourriez vouloir utiliser la fonctionnalité \copy de psql pour lire en local.

[SQL: COPY PASSAGERS FROM 'C:\Users\User\Downloads\Sae_bdd\titanic_train\PASSAGERS.csv' DELIMITER ',' csv HEADER;]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [24]:
passagers = %sql SELECT * FROM PASSAGERS
reservations = %sql SELECT * FROM RESERVATIONS

   postgresql://postgres:***@localhost/postgres
 * postgresql://postgres:***@localhost:5432/postgres
891 rows affected.
   postgresql://postgres:***@localhost/postgres
 * postgresql://postgres:***@localhost:5432/postgres
891 rows affected.

In [25]:

dataframe = passagers.DataFrame()
dataframe

,passengerid,survival,name,sex,age,sibsp,parch
0,1,False,Braund Mr. Owen Harris,male,22.0,1,0
1,2,True,Cumings Mrs. John Bradley (Florence Briggs Tha...,female,38.0,1,0
2,3,True,Heikkinen Miss. Laina,female,26.0,0,0
3,4,True,Futrelle Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0
4,5,False,Allen Mr. William Henry,male,35.0,0,0
...,...,...,...,...,...,...,...
886,887,False,Montvila Rev. Juozas,male,27.0,0,0
887,888,True,Graham Miss. Margaret Edith,female,19.0,0,0
888,889,False,"Johnston Miss. Catherine Helen ""Carrie""",female,NaN,1,2
889,890,True,Behr Mr. Karl Howell,male,26.0,0,0
890,891,False,Dooley Mr. Patrick,male,32.0,0,0

In [26]:
dataframe = reservations.DataFrame()
dataframe

     passengerid  pclass            ticket     fare cabin embarked
0              1       3         A/5 21171   7.2500  None        S
1              2       1          PC 17599  71.2833   C85        C
2              3       3  STON/O2. 3101282   7.9250  None        S
3              4       1            113803  53.1000  C123        S
4              5       3            373450   8.0500  None        S
..           ...     ...               ...      ...   ...      ...
886          887       2            211536  13.0000  None        S
887          888       1            112053  30.0000   B42        S
888          889       3        W./C. 6607  23.4500  None        S
889          890       1            111369  30.0000  C148        C
890          891       3            370376   7.7500  None        Q

[891 rows x 6 columns]